html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

body {
	background: #db0909;
  color: #8b8b8b;
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a {
	color: #121212;
	text-decoration: none;
}

input, textarea {
	padding: 10px;
	border: 1px solid #cdcdcd;
	width: 90%;
	max-width: 500px; 
	margin-bottom: 20px;
	font-size: 16px;
}

textarea {
	min-height: 30vh;
}

main {
	position: relative;
}

h1 {
  margin-top: 20px;
	font-size: 3em;
	font-weight: 700;
	font-family: 'Zilla Slab', serif;
}

h2 {
  margin-top: 20px;
  font-size: 47px;
  font-weight: 300;
	font-family: 'Zilla Slab', serif;
	color: #363636;
  margin-bottom: -6px;
}

.articles__list {
	padding: 16px;
}

.errors {
	position: absolute;
	padding: 5%;
	margin-bottom: 5%;
	width: 50%;
	background: #f7f7f7;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.error__block {
	color: red;
	padding: 20px;
	margin: 20px;
}

.errors h1 {
	margin-bottom: 30px;
}

.article-item {
	list-style: none;
	padding: 5%;
	margin-bottom: 5%;
	width: 100%;
	background: #f7f7f7;
	position: relative;
	border: 10px solid transparent;
}

.article-item:hover {
	border: 10px solid rgba(0, 0, 0, 0.1);
}

.article-item.fade {
	transition: opacity 0.3s ease;
	opacity: 0;
}

.article-item img {
	width: 100%;
	object-fit: cover;
}

.article-item p {
	font-size: 11px;
	line-height: 1.5;
	margin: 1em 0;
	max-width: 70%;
}

.article__detail-body {
	line-height: 1.3;
}

.article__content {
	padding: 15px;
}

.links,
article {
	max-width: 80%;
	margin: 20px auto;
}

article {
	background: white;
	color: black;
}

article h1 {
	margin-bottom: 20px;
}

article p {
	margin: 20px 0;
}

article img {
	width: 100%;
}

.article-item a {
	display: block;
}

.links {
	margin: 10px auto;
}

.links a {
	color: white;
	border: 0;
	font-size: 12px;
	margin-right: 10px;
}

.links a:hover {
	border: 0;
}

.article-delete-btn {
	width: auto;
}

.login {
	width: 90%;
	margin: 60px auto 0;
	max-width: 600px;
	background: white;
	padding: 20px;
}

.login h1 {
	line-height: auto;
	margin-bottom: 20px;
}

.login form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.login .row {
	flex: 1 0 100%;
}

.login .row  input {
	width: 100%;
	max-width: none;
}

.login .error {
	padding: 10px 0;
	margin-bottom: 20px;
	color: red;
}

#preview {
	width: 100%;
	max-width: 300px;
}

@media (min-width: 768px) {
	.login {
		padding: 60px;
	}

	article {
		margin: 60px auto;
	}

	.article__content {
		padding: 40px;
	}

	.article-item {
		width: 46%;
		padding: 2%;
		margin: 2%;
	}

	.articles__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 16px;
		top: 70px;
		width: 100%;
		position: absolute;
	}
}