<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <% if (typeof title !== 'undefined') { %>
        <%= title %>
      <%  } else { %>
        Shaun's Blog
      <% } %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
